/* Import fonts */
@import "fonts/AvenirNextCyr/stylesheet.css";
@import "fonts/Helvetica/stylesheet.css";

/* Import blocks stiles */
@import "styles/header.css";
@import "styles/tasks.css";
@import "styles/prises.css";
@import "styles/faq.css";
@import "styles/registration.css";
@import "styles/footer.css";

/* Default layout settings*/
* {
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body > * {
  max-width: 1440px;
  width: 100%;
  padding: 0 calc((100% - 1440px) / 2) 96px;
}

body > * > * {
  padding: 0 10%;
}

button {
  padding: 10px 76px;
  background: transparent !important;
  outline: none;
  border: 2px solid white;
  transition: .1s;
  cursor: pointer;
}

button:hover {
  background: #FFFFFF22 !important;
  border-color: #FFFFFFBB;
}

a {
  text-decoration: none;
}

/* Font settings */
* {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

h1 {
  font-size: 64px;
  text-transform: uppercase;
}

h2 {
  font-size: 120px;
  text-transform: uppercase;
  margin: 0;
}

.text__header {
  font-family: "Avenir Next Cyr", sans-serif;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.text__bold {
  font-weight: 600;
}
