doctype html
html(lang="ru")
  head
    title Хахатон РТУ МИРЭА

    meta(charset="UTF-8")
    meta(name="author" content="RTUITLab")
    meta(name="robots" content="index")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Добро пожаловать на хакатон от РТУ МИРЭА, приуроченный к международноому Дню дурака. Вас ждут увлекательные задания, интересные призы и кафедра ПМ")

  body
    div
      include mixins/page-header
      include mixins/tasks
      include mixins/prises
      include mixins/faq
      include mixins/registration
      include mixins/page-footer
    .orbs
      include assets/orbs/header.svg
      include assets/orbs/header.svg
      include assets/orbs/header.svg
      include assets/orbs/header.svg
