/* Import blocks stiles */
@import 'styles/header.scss';
@import 'styles/hamburger-wrapper.scss';
@import 'styles/tasks.scss';
@import 'styles/prises.scss';
@import 'styles/faq.scss';
@import 'styles/registration.scss';
@import 'styles/footer.scss';
@import 'styles/variables.scss';

@font-face {
	font-family: 'Furore';
	src: url('fonts/Furore/Furore.otf');
}
@font-face {
	font-family: 'Inter';
	src: url('fonts/Inter/Inter-Regular.ttf');
}

.grecaptcha-badge {
	visibility: hidden;
}

:root {
	--wrapper-height: 0px;
}

.orbs {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: var(--wrapper-height);
	z-index: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.orbs > svg {
	position: absolute;
	padding: 0;
}

.orbs > svg:nth-child(odd) {
	max-width: 25%;
	animation: fly 12s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}

.orbs > svg:nth-child(even) {
	max-width: 25%;
	animation: flyReverse 12s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}

.orbs > svg:nth-child(3n - 1) {
	max-width: 15%;
	filter: blur(5px) grayscale(1);
}

.orbs > svg:nth-child(3n - 2) {
	animation-delay: -4s;
	filter: blur(3px) grayscale(0);
}

.orbs > svg:nth-child(5n) {
	max-width: 50%;
	filter: blur(0) grayscale(0);
}
.orbs > svg:nth-child(5n-1) {
	filter: grayscale(1);
}

.orbs > svg:nth-child(3n) {
	animation-delay: -7s;
}

@keyframes fly {
	0%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-100px);
	}
}
@keyframes flyReverse {
	0%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(100px);
	}
}

/* Default layout settings*/
* {
	color: white;
}

html {
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	max-width: 1600px;
	//scroll-behavior: smooth;
	background: #1e1e1e;
}

body > div:not(.orbs) {
	position: relative;
	z-index: 1;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body > div {
	width: 74%;
	margin: 0 13%; //calc((100% - 1440px) / 2);
	position: relative;
}

body > div > * > * {
	//padding: 0 10%;
}

button,
a.button,
span.button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 25px 100px;
	gap: 10px;
	max-width: 100%;
	max-height: 79px;
	font-size: 24px;
	line-height: 29px;
	color: white;
	background: linear-gradient(267.24deg, rgba(242, 242, 242, 0.25) 22.52%, rgba(242, 242, 242, 0.05) 83.16%),
		#0077ff;
	box-shadow: 0px 4px 15px rgba(0, 119, 255, 0.5);
	border-radius: 20px;
	&:hover {
		box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.25);
		color: white;
	}
	@media (max-width: $mobile-breakpoint) {
		padding: 20px 50px;
		text-align: center;
		line-height: 22px;
		font-size: 18px;
		max-width: max-content;
		max-height: 72px;
		&:hover {
			background: linear-gradient(
					267.24deg,
					rgba(242, 242, 242, 0.25) 22.52%,
					rgba(242, 242, 242, 0.05) 83.16%
				),
				#0c60be;
		}
	}
	/*padding: 10px 76px;
	background: transparent !important;
	outline: none;
	border: 2px solid white;
	transition: 0.1s;
	cursor: pointer;*/
}

a {
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
	color: #f2f2f2;
	text-decoration: none;
	&:hover {
		color: #3191ff;
	}
	&:active {
		color: #0265d7;
	}
	/*&:visited {
		color: #0077ff;
	}*/
}

/* Font settings */
* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 24px;
}

h1,
h2 {
	font-family: Furore;
	font-weight: 400;
	letter-spacing: 0em;
	font-size: 108px;
	line-height: 108px;
	text-align: left;
	position: relative;
	color: #1e1e1e;
	text-shadow: -1px 1px 0 #0077ff, 1px 1px 0 #0077ff, 1px -1px 0 #0077ff, -1px -1px 0 #0077ff;
	margin: 0 0 0 15px;
	&::after {
		content: ''; //Тут текст белого цвета
		position: absolute;
		top: -10px;
		left: -15px;
		color: white;
	}
	@media (max-width: $tablet-breakpoint) {
		font-size: 56px;
		line-height: 56px;
	}
	@media (max-width: $mobile-breakpoint) {
		font-size: 36px;
		line-height: 36px;
		&:is(h1) {
			font-size: 56px;
			line-height: 56px;
			letter-spacing: 0em;
			text-align: left;
		}
	}
}

h2 {
	margin: 200px 0 100px 0;
	@media (max-width: $mobile-breakpoint) {
		margin: 100px 0 60px 0;
	}
}

.notification {
	position: fixed;
	height: 0;
	padding: 0;

	& > div {
		right: -100px;
		max-width: 400px;
		margin: 32px;
		width: 90%;
		float: right;
		background: #a746bc;
		padding: 16px 24px;
		border: 3px solid white;
		box-sizing: border-box;
		transition: 0.3s;
		transform: translateX(5500px);
	}

	& > div.visible {
		transform: translateX(0);
	}
}
/* Adaptivity 
@media (max-width: $desktop-breakpoint) {
	h2 {
		font-size: 108px;
	}
}

@media (max-width: $tablet-breakpoint) {
	h2 {
		font-size: 80px;
	}
}

@media (max-width: 650px) {
	h2 {
		font-size: 48px;
	}
}

@media (max-width: $mobile-breakpoint) {
	h2 {
		font-size: 42px;
	}
	* {
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
	}
}
*/
