@import 'variables.scss';

.prises {
	&__header {
		&::after {
			content: 'Призы';
		}
	}
	&__content {
		display: flex;
		justify-content: center;
		align-items: space-between;
		gap: 30px;
		@media (max-width: $tablet-breakpoint) {
			flex-direction: column;
			width: 100%;
		}
		.prise-block {
			width: calc(100% / 3 - (30px * 2));
			padding: 30px;
			background: rgba(255, 255, 255, 0.05);
			backdrop-filter: blur(25px);
			border-radius: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			&:hover {
				box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.25);
				transition: box-shadow 0.5s;
			}
			@media (max-width: $tablet-breakpoint) {
				width: 100%;
				max-height: 370px;
				max-width: 570px;
			}
			@media (max-width: $mobile-breakpoint) {
				width: calc(100% - 20%);
				max-height: 370px;
				max-width: 300px;
			}
			.logo {
			}
			.description {
				font-family: Furore;
				font-size: 28px;
				font-weight: 400;
				line-height: 35px;
				letter-spacing: 0em;
				text-align: center;
				@media (max-width: $mobile-breakpoint) {
					font-size: 24px;
				}
			}
		}
	}
}
/*
@media (max-width: $desktop-breakpoint) {
	#prises-section > img {
		width: 25%;
	}
}

@media (max-width: $tablet-breakpoint) {
	#prises-section > img {
		right: 0;
		width: 32%;
	}

	#prises > li {
		-webkit-text-stroke-width: 1px;
		font-size: 32px;
		text-align: start;
	}
}

@media (max-width: 650px) {
	#prises-section > img {
		display: none;
	}

	#prises-section_header {
		display: block;
	}

	#prises-section_header > h2 {
		width: 100%;
	}

	#prises-section_header > a {
		display: inline-block;
		width: 50%;
		vertical-align: middle;
		margin-top: 16px;
	}
}
*/
