//@import 'variables.scss';

.header {
	width: 100%;
	&__navbar {
		padding-top: 48px;
		display: flex;
		justify-content: space-around;

		& > li {
			padding-right: 5%;
		}

		& > li > a::after {
			display: block;
			content: ' ';
			background: white;
			height: 3px;
			width: 0;
			box-sizing: content-box;
			transition: 0.2s;
			border-radius: 2px;
		}

		& > li > a:hover::after {
			width: 100%;
		}
	}

	&__main {
		margin-top: 48px;
		display: flex;
		flex-direction: column;
		//justify-content: space-between;

		/*& > * {
			width: 50%;
		}*/
		.title {
			display: flex;
			flex-direction: column;
			&__icons {
				.icon {
				}
			}
			&__header {
			}
			&__date {
			}
			&__button {
			}
		}

		.curriculum {
			margin-top: 64px;
			display: flex;
			justify-content: space-between;

			&-block {
				display: flex;
				flex-direction: column;
				width: 30%;
				.stage {
				}
				.date {
				}
			}
		}
	}
}
