@import 'variables.scss';

.prises {
	&__header {
		display: flex;
		flex-direction: row;
		align-items: center;
		h2 {
			width: 50%;
		}
	}
	&__content {
		display: flex;
		justify-content: space-around;
		.prise-block {
			.logo {
				position: absolute;
				margin-top: 40px;
			}
			.description {
			}
		}
	}
}
/*
@media (max-width: $desktop-breakpoint) {
	#prises-section > img {
		width: 25%;
	}
}

@media (max-width: $tablet-breakpoint) {
	#prises-section > img {
		right: 0;
		width: 32%;
	}

	#prises > li {
		-webkit-text-stroke-width: 1px;
		font-size: 32px;
		text-align: start;
	}
}

@media (max-width: 650px) {
	#prises-section > img {
		display: none;
	}

	#prises-section_header {
		display: block;
	}

	#prises-section_header > h2 {
		width: 100%;
	}

	#prises-section_header > a {
		display: inline-block;
		width: 50%;
		vertical-align: middle;
		margin-top: 16px;
	}
}
*/
