@import 'variables.scss';

.text__header {
	&::after {
		content: 'Регистрация';
	}
}
#registration-section {
	padding-bottom: 0 !important;
	padding: 30px;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(25px);
	border-radius: 20px;
	#register h3 {
		font-family: Inter;
		font-size: 28px;
		font-weight: 700;
		line-height: 38px;
		letter-spacing: 0em;
		text-align: left;
	}
}

#registration-section > div {
	img {
		float: right;
		width: 20%;
		height: 20%;
	}
}

#registration-section form {
	width: calc(100% - 10% - 260px);
	padding-bottom: 16px;
	box-sizing: border-box;
	@media (max-width: $tablet-breakpoint) {
		width: 100%;
	}
}

#registration-section form input {
	display: block;
	margin-bottom: 16px;
	width: 100%;
	padding: 8px 12px;
	border: 1px solid white;
	background: transparent;
	outline: none;
	box-sizing: border-box;
	transition: 0.2s;
}

#registration-section form button:focus-visible,
#registration-section form a:focus-visible,
#registration-section form input:focus-visible {
	//outline: 2px solid #cf2dff;
	&::placeholder {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		color: rgba(242, 242, 242, 0.75);
	}
}

#registration-section form input::placeholder {
	//font-family: Helvetica, sans-serif;
	//color: #a5dbff;
	font-family: Inter;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #f2f2f280;
}

#registration-section form div {
	width: 180px;
	display: flex;
	flex-direction: row;
}

#registration-section form div * {
	margin: 0;
}

#registration-section form input::-webkit-outer-spin-button,
#registration-section form input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0 !important;
}

/*#registration-section form input[type='number'] {
	width: 100px;
	margin: 0;
	border-left: none;
	border-right: none;
	text-align: center;
	-moz-appearance: textfield;
}*/

#registration-section form input[type='radio'] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

#registration-section form label.radio {
	display: flex;
	flex-direction: row;

	margin: 12px 0;
	cursor: pointer;
}

#registration-section form label.radio::before {
	content: ' ';
	line-height: 1ch;
	text-align: center;
	margin-right: 8px;
	width: 12px;
	height: 12px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 4px;
	border: 1px solid #0077ff;
	border-radius: 25px;
	padding: 3px;
}

#registration-section form input:focus-visible + label.radio::before {
	padding: 1px;
}

#registration-section form input:checked + label.radio::before {
	content: ' ';
	background: #0077ff;
	border-radius: 25px;
}

.error {
	color: #bf0000;
	font-size: 16px;
}

#policy,
#policy a {
	padding: 30px 0;
	margin: 0;
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
}

input:not(:invalid) + .error {
	display: none;
}

/*#registration-section form label.radio input */

#registration-section form button {
	width: 100%;
	margin-top: 16px;
}

@media (max-width: $tablet-breakpoint) {
	#registration-section > img {
		width: 20%;
		padding: 0 32px;
		height: 20%;
	}

	#registration-section form {
		width: calc(100% - 190px);
	}
}

@media (max-width: 650px) {
	#registration-section > img {
		display: none;
	}

	#registration-section form {
		width: 100%;
	}
}
