@import 'variables.scss';

.tasks {
	margin-top: 48px;
	&__header {
	}
	&__content {
		display: flex;
		justify-content: center;
		gap: 20px;
		.task {
			display: flex;
			flex-direction: column;

			border: 4px solid white;
			box-sizing: border-box;
			/*&::after {
				content: ' ';
				height: 36px;
				background: #1b002a;
				display: block;
			}*/
			.title {
				margin: 0;
				padding: 36px 36px 0 36px;
				font-weight: 600;
			}
			.description {
				margin: 0;
				padding: 28px 36px;
				font-size: 16px;
			}
			.theme {
			}
			.duration {
			}
			.format {
			}
			img {
				max-height: 250px;
				max-width: 95%;
				padding: 16px 0;
				box-sizing: border-box;
			}
			.button {
			}
		}
	}
}

/* Tasks list */

.task article .task_button-box {
	display: flex;
	background: none;
	padding: 0;
	margin: 0;
}

.task article .task_button-box::before {
	content: ' ';
	width: -moz-available;
	width: -webkit-fill-available;
	background: #1b002a;
	display: block;
}

.task article .task_button-box::after {
	content: ' ';
	width: 48px;
	background: #1b002a;
	display: block;
}
/*
@media (max-width: $tablet-breakpoint) {
	#tasks {
		margin-top: 112px;
		grid-template-columns: 100%;
	}

	.task {
		margin-top: 32px !important;
	}
}

@media (max-width: 650px) {
	#tasks {
		margin-top: 48px;
	}
}
*/
