header
  ul
    li
      a(href="#tasks-section") Задачи
    li
      a(href="#prises-section") Призы
    li
      a(href="#faq-section") FAQ
    li
      a(href="#registration-section") Регистрация

  div
    div(id="header_title-box")
      h1.text__header Хахатон
        br
        | РТУ МИРЭА
        br
        | 01.04 - 04.04
      button.text__bold Регистрация
    div#header_image-box
      img(src="assets/header_image.svg" alt="Header image")
