-
  var curriculums_data = [
  {
    "stage": "Публикация заданий",
    "date": "17.10.2022 23:00",
  },{
    "stage": "Завершение приёма решений",
    "date": "21.10.2022 10:00",
  },{
    "stage": "Публикация результатов",
    "date": "21.10.2022 20:00",
  }]
  
mixin curriculum-block(data)
  .curriculum-block 
    span.stage= data.stage
    span.date= data.date

header.header
  ul.header__navbar
    li
      a(href="#tasks-section") Задачи
    li
      a(href="#prises-section") Призы
    li
      a(href="#faq-section") FAQ
    li
      a(href="#registration-section") Регистрация
    li
      a(href="https://t.me/+6Q0_O3XXF3lhMDRi")
        img(src="assets/logos/telegram.svg")

  .header__navbar-mobile
    img.logo(src="assets/logos/header_hack.svg")
    .hamburger(data-opened='false')
    include hamburger-wrapper
    
  .header__main
    .title
      .title__icons
        img.icon#header-icon.vk(src="./assets/logos/VK_hover.svg")
        span X
        img.icon#header-icon.mirea(src="./assets/logos/MIREA_hover.svg")
      h1.title__header Хахатон
      span.title__date 17.10 — 21.10
      a.button.title__button(href="#registration-section") Зарегистрироваться
    .curriculum
      each curriculum in curriculums_data
        +curriculum-block(curriculum)
    .title__icons-mobile
      img.icon#header-icon.vk(src="./assets/logos/VK_hover.svg")
      span X
      img.icon#header-icon.mirea(src="./assets/logos/MIREA_hover.svg")
