-
  var prises_data = [
    {imgSrc:'assets/prises/VK_prise.svg',
    description:'Консультация от VK'
    },{imgSrc:'assets/prises/Buds_prise.svg',
    description:'Samsung Galaxy Buds Live'
    },{imgSrc:'assets/prises/Galaxy_prise.svg',
    description:'Samsung Galaxy A21s 64GB'
    }
  ] 

mixin prise-block(data)
  .prise-block
    img.logo(src=data.imgSrc)
    p.description
     = data.description

section.prises#prises-section
  h2.prises__header Призы

  .prises__content
    each prise in prises_data
      +prise-block(prise)
