
h2.text__header Регистрация
section#registration-section
  div.image-wrapper
    img(src="assets/form_image.svg" height="1379" width="255" alt="Иллюстрация для формы")
  form#register(name="form")
    h3 Заполните форму и укажите всех участников
    input(type="text" id="team-name" placeholder="Название команды *" minlength="3" required data-error="Необходимо указать название команды")

    h3
      label(for="member-2") Участник №1 *
        input(type="text" id="member-1" placeholder="ФИО*" minlength="5" required data-error="Необходимо указать ФИО")
      input(type="text" id="memeber-1-email" placeholder="E-mail*" minlength="6" required data-error="Необходимо указать почту")
      input(type="text" id="memeber-1-telegram" placeholder="Telegram*" minlength="3" required data-error="Необходимо указать телеграм")
      input(type="text" id="memeber-1-institute" placeholder="Институт")
      input(type="number" id="memeber-1-age" placeholder="Возраст*" minlength="2" required data-error="Необходимо указать возраст")

    h3
      label(for="member-3") Участник №2 
        input(type="text" id="member-2" placeholder="ФИО" minlength="5")
      input(type="text" id="memeber-2-email" placeholder="E-mail" minlength="6")
      input(type="text" id="memeber-2-telegram" placeholder="Telegram" minlength="3")
      input(type="text" id="memeber-2-institute" placeholder="Институт")
      input(type="number" id="memeber-2-age" placeholder="Возраст" minlength="2")
    h3
      label Выбранный трек *
    .radios
      label.radio(for="task1")
        input#task1(type="radio" name="track" value="1" data-error="Необходимо выбрать трек")
        span.checkmark Кейс от института ИТ
      label.radio(for="task2")
        input#task2(type="radio" name="track" value="2" data-error="Необходимо выбрать трек")
        span.checkmark Кейс от VK Group

    p.error#error__reg

    button.button.g-recaptcha(type="submit" data-size="invisible" data-theme="dark" data-sitekey="6LfWwNgeAAAAAEfzAwwxK8d8FDbvO4HpD5NtAm8W" data-callback="submitRegistration") Отправить заявку
  p#policy
    | Нажимая на кнопку «Отправить заявку» вы соглашаетесь на обработку персональных данных, в соответствии с 
    a(href="https://storage.yandexcloud.net/hahaton/Политика.pdf" target="_blank" rel="noopener noreferrer") Политикой конфиденциальности
    | , а также с 
    a(href="https://storage.yandexcloud.net/hahaton/%D0%9F%D0%BE%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%BE%20%D0%A5%D0%B0%D1%85%D0%B0%D1%82%D0%BE%D0%BD%D0%B5%202022.pdf" target="_blank" rel="noopener noreferrer") Положением Хакатона
