-
  var tasks_data = [
  {
    "title": "Кейс \"В первый раз как в первый раз\"",
    "description": "Собрать портфель, чтобы сходить в школу - непросто. Решите задачу наиболее эффективно и положите с собой биг мак. Собрать портфель, чтобы пойти в универ сложнее. Обязательно купите вейп.",
    "imgSrc": "assets/tasks/task_1.svg"
  },
  {
    "title": "Кейс \"В первый раз как в первый раз\" 1",
    "description": "Собрать портфель, чтобы сходить в школу - непросто. Решите задачу наиболее эффективно и положите с собой биг мак. Собрать портфель, чтобы пойти в универ сложнее. Обязательно купите вейп.",
    "imgSrc": "assets/tasks/task_2.svg"
  },
  {
    "title": "Кейс \"В первый раз как в первый раз\" 2",
    "description": "Собрать портфель, чтобы сходить в школу - непросто. Решите задачу наиболее эффективно и положите с собой биг мак. Собрать портфель, чтобы пойти в универ сложнее. Обязательно купите вейп.",
    "imgSrc": "assets/tasks/task_3.svg"
  },
  {
    "title": "Кейс \"В первый раз как в первый раз\"",
    "description": "Собрать портфель, чтобы сходить в школу - непросто. Решите задачу наиболее эффективно и положите с собой биг мак. Собрать портфель, чтобы пойти в универ сложнее. Обязательно купите вейп.",
    "imgSrc": "assets/tasks/task_2.svg"
  }]

mixin task(data)
  li.task
    .task_img-box
      img(src=data.imgSrc height="144" width="124.2" alt="Иллюстрация задания")
    article
      h3= data.title
      p
        = data.description
      .task_button-box
        button Подробнее

section#tasks-section
  h2.text__header Задачи
  ul#tasks-section_some-terms.text__header
    li У вас всего 48 часов
    li 2-4 человека в команде

  //TODO change layout to columns, not rows
  ul#tasks
    each singleTask in tasks_data
      +task(singleTask)
