.wrapper
    div
        a#hamburger-link(href="#tasks-section") Задачи
    div
        a#hamburger-link(href="#prises-section") Призы
    div
        a#hamburger-link(href="#faq-section") FAQ
    div
        a#hamburger-link(href="#registration-section") Регистрация
    div 
        a#hamburger-link(href="")
            img(src="./assets/logos/telegram.svg")