#footer
  footer
    div.top
      a(href='') Положение о хакатоне
      a(href="mailto:hahathon@rtuitlab.dev") hahathon@rtuitlab.dev
      div 
        img(href="/assets/logos/telegram.svg")
        a(href="https://t.me/+6Q0_O3XXF3lhMDRi") Telegram-канал
    div.bottom
      img.icon#header-icon.mirea(src="./assets/logos/MIREA_default.svg")
      img.icon#header-icon.vk(src="./assets/logos/VK_default.svg")
