header
  ul
    li
      a(href="#tasks-section") Задачи
    li
      a(href="#prises-section") Призы
    li
      a(href="#faq-section") ЧаВо
    li
      a(href="#registration-section") Регистрация

  div
    div(id="header_title-box")
      h1.text__header Хахатон
        br
        | РТУ МИРЭА
        br
        | 25.03 - 01.04
      a.button.text__bold(href="#registration-section") Регистрация
    div#header_image-box
      img(src="assets/header_image.svg" width="406" height="396" alt="Header image")
      img(src="assets/tasks/task_1.svg" width="220.8" height="256" alt="Header image")
