-
  var curriculums_data = [
  {
    "stage": "Публикация заданий",
    "date": "13.13.2013",
  },{
    "stage": "Завершение приёма решений",
    "date": "13.13.2013",
  },{
    "stage": "Публикация результатов",
    "date": "13.13.2013",
  }]
  
mixin curriculum-block(data)
  .curriculum-block 
    span.stage= data.stage
    span.date= data.date

header.header
  ul.header__navbar
    li
      a(href="#tasks-section") Задачи
    li
      a(href="#prises-section") Призы
    li
      a(href="#faq-section") FAQ
    li
      a(href="#registration-section") Регистрация

  .header__main
    .title
      .title__icons
        img.icon
        img.icon
      h1.title__header Хахатон
      span.title__date 17.10-21.10
      a.button.title__button(href="#registration-section") Регистрация
    .curriculum
      each curriculum in curriculums_data
        +curriculum-block(curriculum)
