#footer
  p#policy
    | Нажимая на кнопку «Отправить заявку» вы соглашаетесь на обработку персональных данных, в соответствии с&nbsp;
    a(href="https://clck.ru/dXrJW" target="_blank") Политикой конфиденциальности

  footer
    div
      p Онлайн-хакатон Хахатон
      p 1-4 апреля 2022
      p
        a(href="#registration-section") Регистрация

    div
      p По всем вопросам:
      p
        a(href="mailto:hahathon@rtuitlab.dev") hahathon@rtuitlab.dev
    div
      button Положение о хакатоне
