#footer
  p#policy
    | Нажимая на кнопку «Отправить заявку» вы соглашаетесь на обработку персональных данных, в соответствии с&nbsp;
    a(href="https://clck.ru/dXrJW" target="_blank") Политикой конфиденциальности

  footer
    div
      p Онлайн-хакатон Хахатон
      p 1-4 апреля 2022
      p
        a(href="#registration-section") Регистрация

    div
      p По всем вопросам:
      p
        a(href="mailto:info@rtuitlab.dev") info@rtuitlab.dev
      p
        a(href="tel:8 800 555-35-35") 8 800 555-35-35
    div
      button Положение о хакатоне
