header.header
  ul.header__navbar
    li
      a(href="#tasks-section") Задачи
    li
      a(href="#prises-section") Призы
    li
      a(href="#faq-section") FAQ
    li
      a(href="#registration-section") Регистрация

  .header__main
    .title
      .title__icons
        img.icon
        img.icon
      h1.title__header Хахатон
      span.title__date 17.10-21.10
      a.button.title__button(href="#registration-section") Регистрация
    .curriculum
      .curriculum-block 
        span.stage Публикация заданий
        span.date 25.03.2022 23:00
      .curriculum-block 
        span.stage Завершение приёма решений
        span.date 25.03.2022 23:00
      .curriculum-block 
        span.stage Публикация результатов
        span.date 25.03.2022 23:00
