-
  var prises_data = [
    {imgSrc:'Консультация от SberGames',
    description:'50 000 рублей'
    },{imgSrc:'Консультация от SberGames',
    description:'50 000 рублей'
    },{imgSrc:'Консультация от SberGames',
    description:'50 000 рублей'
    }
  ] 

mixin prise-block(data)
  .prise-block
    img.logo(href=data.imgSrc)
    p.description
     = data.description

section.prises#prises-section
  .prises__header
    h2 Призы

  .prises__content
    each prise in prises_data
      +prise-block(prise)
