-
  var tasks_data = [
  {
    "title": "Кейс от Института ИТ",
    "description": "В данном кейсе на заданную тематику потребуется создать игру под мобильный телефон с Android. Тема трека: Smile, just a smile",
    "theme": "Юбилей",
    "duration": "2 минуты",
    "format": "MP4",
    "imgSrc": "assets/tasks/task_1_1.jpg",
    "radioId": "task1"
  },
  {
    "title": "Кейс от Института ИТ",
    "description": "В данном кейсе на заданную тематику потребуется создать игру под мобильный телефон с Android. Тема трека: Smile, just a smile",
    "theme": "Юбилей",
    "duration": "2 минуты",
    "format": "MP4",
    "imgSrc": "assets/tasks/task_1_1.jpg",
    "radioId": "task1"
  }]

mixin task(data)
  article.task
    h3.title= data.title
    p.description
      = data.description
    p.theme Тема: 
      = data.theme
    p.duration Длительность: 
      = data.duration
    p.format Формат: 
      = data.format
    img(src=data.imgSrc)
    .button
      label(for=data.radioId)
        span.button Выбрать кейс

section.tasks#tasks-section
  h2.tasks__header Задачи
  .tasks__content
    each singleTask in tasks_data
      +task(singleTask)
